# misc
.svn/
.vs/
map2tileset/
test/
Thumbs.db
Tilengine.doc
Tilengine.sln
Tilengine.pdf
Suplemento Tilengine.pdf
clean.bat
deploy*.bat
benchmark.txt
android/lib
android/wrapper/obj
deploy/
debug/
release/
Win32_Debug/
Win32_Release/
x64_Debug/
x64_Release/
*.pyc
*.exe

# deploy packages
*.zip
*.gz
*.bz2

# Visual Studio specific
Debug/
Release/
obj/
*.ncb
*.user
*.pdb
*.ilk
*.exp
*.suo
*.o
*.obj

# bindings
bindings/csharp/*.exe
bindings/csharp/bin
bindings/csharp/Properties
bindings/java/bin

# library source code
src_lib/android/
src_lib/doxygen/
src_lib/libpng/
src_lib/sdl/
Animation.*
Bitmap.*
Blitters.*
Draw.*
Engine.h
Hash.*
Layer.*
Math2D.*
Object.*
Palette.*
Sequence.*
SequencePack.*
Sprite.*
Spriteset.*
Tables.*
Tilemap.*
Tilengine.c
Tileset.*
Types.h
Tilengine.vcproj
Tilengine.odt
