# misc
.svn/
.vs/
map2tileset/
test/
Thumbs.db
Tilengine.doc
Tilengine.sln
Tilengine.pdf
Suplemento Tilengine.pdf
clean.bat
deploy*.bat
benchmark.txt
android/lib
android/wrapper/obj
deploy/
debug/
release/
Win32_Debug/
Win32_Release/
x64_Debug/
x64_Release/
*.pyc
*.exe

docs/screens/
samples/assets/mslug/
samples/assets/sunny_land/
samples/c/*.dll
samples/csharp/*.dll

# deploy packages
*.zip
*.gz
*.bz2

# Visual Studio specific
Debug/
Release/
obj/
*.ncb
*.user
*.pdb
*.ilk
*.exp
*.suo
*.o
*.obj

# bindings
bindings/csharp/*.exe
bindings/csharp/bin
bindings/csharp/Properties
bindings/java/bin
